<body>
<div class="cineContainer">
    <div class="cineLogo">
        <img src="assets/cinemachineLogo.png" alt="cinemachine logo">
    </div>
    <div class="cineDescription">
Another element I'm enthusiastic about is the Emmy Award winning Cinemachine.
I put together this logo to honor the tool, I'm that excited!
<br></br> 
Even a pixel game benefits greatly from this fantastic cinematic tool.
The cameras chasing the player can be seen in the editor window: displayed in the animation below.
<br></br>
Try them in game, by gazing up, or down or climbing up on top of one of the viewing spots!
</div>
<div class="cinemachine">
    <img src="assets/CinemachineAnimation.gif" alt="Animated GIF">
</div>
</body>
